<div class="main-header">
	<h1 class="title">Blog do Gui</h1>
  </div>

  <div ng-repeat="post in BlogCtrl.posts" class="posts">
	<div class="text-center">
	  <h1>{{post.title}}</h1>
	  <h6>Escrito por: {{post.user.name}} as {{post.created_at | date:'dd-MM-yyyy'}} - atualizado em {{post.updated_at | date:'dd-MM-yyyy'}}</h6>
	  <span>Tags: </span><a href=""><span ng-repeat="tag in post.tags">{{tag.name}} </span></a>
	</div>
	<p class="postDescription">{{post.description}}</p>
	<h4>Comentários</h4>
	<button type="button" class="btn btn-link" ng-click="newComment = true">Novo comentário</button>
	<div ng-if="newComment">
		<input type=text placeholder="Novo Comentário" ng-model="BlogCtrl.comment.comment.text">
		<select ng-model="BlogCtrl.selectedUser" ng-options="user.name for user in BlogCtrl.users"></select>
		<button type="button" class="btn btn-success btn-sm" ng-click="BlogCtrl.createNewComment(post.id,BlogCtrl.selectedUser.id); BlogCtrl.newComment = false">Enviar</button>
	</div>
		<div ng-repeat="comment in post.comments">
			<comments users="BlogCtrl.users" create-new-comment="BlogCtrl.createNewComment(post_id,user_id,comment_id,text_content)" post-id=post.id comment=comment delete-comment="BlogCtrl.deleteComment(post_id,comment_id)"></comments>
		</div>
  </div>
  
   <div>
  <button class="btnMorePosts" ng-click="BlogCtrl.getMorePosts()" ng-disabled="BlogCtrl.isButtonDisabled()">Carregar Mais</button class="btnMorePosts">
 </div>