<h1 text-align="center">Posts</h1>
<button type="button" class="btn btn-success" ng-click="BlogCtrl.newPost = true" data-toggle="modal" data-target="#newPost">Adicionar</button>

<div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar o Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Título</label>
					<input type="text" class="form-control" placeholder="Título do post" ng-model="BlogCtrl.post.post.title" >
					<small id="emailHelp" class="form-text text-muted">O Título deve ser único</small>
					<label>Descrição</label>
					<textarea class="form-control" aria-label="With textarea" ng-model="BlogCtrl.post.post.description"></textarea>
					<label>Usuário</label>
					<select ng-model="BlogCtrl.selectedUser" ng-options="user.name for user in BlogCtrl.users"></select>
					<br>
					<button class="btn btn-primary btn-sm" ng-click="BlogCtrl.updateTag()">Adicionar Tag</button>
					<select ng-model="BlogCtrl.currentTag" ng-options="tag.name for tag in BlogCtrl.tags"></select>
					<p>Tags Selecionadas</p>
					<p ng-repeat="tag in BlogCtrl.post.post.tags">{{tag.name}}</p>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="BlogCtrl.cancelEditPost()">Cancelar</button>
        <button type="button" class="btn btn-success" ng-click="BlogCtrl.createNewPost()" data-dismiss="modal">Adicionar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar o Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
					<label>Título</label>
					<input type="text" class="form-control" placeholder="Título do post" ng-model="BlogCtrl.post.post.title" >
					<small id="emailHelp" class="form-text text-muted">O Título deve ser único</small>
					<label>Descrição</label>
					<textarea style="width: 100%;height: 100px;" class="form-control" aria-label="With textarea" ng-model="BlogCtrl.post.post.description"></textarea>
					<button class="btn btn-primary btn-sm" ng-click="BlogCtrl.updateTag()">Adicionar Tag</button>
					<select ng-model="BlogCtrl.currentTag" ng-options="tag.name for tag in BlogCtrl.tags"></select>
					<p>Tags Selecionadas</p>
					<span ng-repeat="tag in BlogCtrl.post.post.tags"><p style="display: inline-block;">{{tag.name}}</p><button type="button" class="btn btn-danger btn-sm" ng-click="BlogCtrl.removeTag(tag.id)">Deletar</button><br></span>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="BlogCtrl.cancelEditPost()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="BlogCtrl.updatePost()" data-dismiss="modal">Salvar</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Título</th>
		<th scope="col">Tags</th>
		<th scope="col">Autor</th>
		<th scope="col"></th>
		<th scope="col"></th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat=" post in BlogCtrl.posts">
		<td>{{post.id}}</td>
		<td>{{post.title}}</td>
		<td><p ng-repeat="tag in post.tags">{{tag.name}}</p></td>
		<td>{{post.user.name}}</td>
		<td><button type="button" class="btn btn-primary" ng-click="BlogCtrl.setPost(post)" data-toggle="modal" data-target="#exampleModal">Editar</button></td>
		<td><button type="button" class="btn btn-danger" ng-click="BlogCtrl.deletePost(post.id)">Deletar</button></td>
	  </tr>
	</tbody>
</table>